@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./assets/bg-pattern.svg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: contain;
  }
}

:root {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  --track-color: hsl(224, 65%, 95%);
  --left-track-color: hsl(174, 77%, 80%);
}

@layer base {
  @font-face {
      font-family: "Manrope";
      font-weight: 600;
      font-style: normal;
      src: url(./assets/fonts/static/Manrope-SemiBold.otf) format('opentype');
    }

    @font-face {
      font-family: "Manrope";
      font-weight: 800;
      font-style: normal;
      src: url(./assets/fonts/static/Manrope-ExtraBold.otf) format('opentype');
    }
}

.custom-slider {
  appearance: none; 
  cursor: pointer;
  outline: none;
  height: 6px;
  background: var(--track-color);
}

.custom-slider::-webkit-slider-runnable-track,
.custom-slider::-moz-range-track {
  height: 0.5rem;
  border-radius: 0.25rem;
}

.custom-slider::-webkit-slider-thumb,
.custom-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(./assets/icon-slider.svg);
  background-color: hsl(174, 86%, 45%);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.125rem solid hsl(174, 86%, 45%);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  box-shadow: 0 25px 30px -5px hsl(174, 86%, 70%), 0 10px 15px -5px hsl(174, 86%, 70%);
}

.thumbActive::-moz-range-thumb {
  background-color: hsl(174, 77%, 80%);
  border: 0.125rem solid hsl(174, 77%, 80%);
}