@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  font-size: 16px;
}

body {
  background-color: hsl(13, 31%, 94%);
}

@layer base {
  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/static/RedHatText-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/static/RedHatText-Bold.ttf) format('truetype');
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/static/RedHatText-SemiBold.ttf) format('truetype');
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 300;
    src: url(./assets/fonts/RedHatText-VariableFont_wght.ttf) format('truetype');
  }
}